<div class="album py-5 bg-light">
      <div class="container">
        <!-- 行要素を配置 -->
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <!--
           レコードが格納されたobject_listから
           レコードを1行ずつrecordに取り出す
          -->
          {% for record in object_list %}
              <!-- タイトルとボタンを出力するブロック -->
              <div class="card-body">
               
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <!-- 詳細ページを表示するボタン, active=false(無効)だと非表示,true(有効)だと表示 -->
                    <!-- リンク先のURL: photo-detail/<Photo postsテーブルのid値> -->
                    <button type="button"class="btn btn-sm btn-outline-secondary"onclick="location.href='{% url 'visit:visit_detail' record.pk %}'">
                            面会登録の詳細確認
                    </button>
                  </div>           
                </div>
          </div>
          <br>
          {% endfor %}
          <!-- forブロック終了 -->
        <!-- 行要素ここまで -->
        </div>
      </div>
</div>
